<div class="container">
  <div class="row mt-2 txt-bg contact-border">
    <h1 class="text-center contact-center">Contact <span class="text-color">Information</span></h1>
  </div>
  <div class="row mt-2">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis et dolorem ut explicabo mollitia deleniti sequi impedit voluptatem maiores velit tempora nisi architecto officia vitae ullam, alias nobis possimus eos?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis et dolorem ut explicabo mollitia deleniti sequi impedit voluptatem maiores velit tempora nisi architecto officia vitae ullam, alias nobis possimus eos?</p>
    </div>
    <div class="col-md-4">
      <img src="https://d1amwiebv2us1v.cloudfront.net/company_files/15933/b19b4f8b-2d86-4e91-a084-f6ed9be03fe1.png" alt="">
    </div>
  </div>
  <div class="row text-center p-2 bg-color">
    <div>
      <h4>GET IN TOUCH</h4>
      <h6><i class="fa-solid fa-phone"></i> Phone: 123456</h6>
      <h6><i class="fa-solid fa-envelope"></i> Email: <span>abc@gmail.com</span></h6>
      <h6><i class="fa-solid fa-location-dot"></i> Address: plot no 1,Balaji Society kumtha naka, Solapur</h6>
    </div>
    <div class="col-md-6">
      <div class="row">
       Name: <input type="text" name="" id="">
      </div>
      <div class="row">
       Email: <input type="text">
      </div>
      <div class="row">
        Address: <input type="text">
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <!-- <textarea name="" id="" cols="72" rows="6" placeholder="Enter Some Text Here..."></textarea> -->
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 138px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
    </div>
    <div class="mt-2">
      <button class="btn btn-danger">Submit</button>
    </div>
  </div>
</div>
