.contact-border{
  height: 100px;
  width: auto;
}
.contact-center{
  margin-top: 23px;
  color: white;
}
.text-color{
  color: #ff4a45;
}
.txt-bg{
  background-color: rgb(61, 61, 61);
}
.bg-color{
  background-color: #e9dbdb;
}
