<div class="container">
  <div class="row mt-2 text-bg-secondary abt-border">
    <h1 class="text-center abt-center">AboutUs</h1>
  </div>
  <div class="row mt-2">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus distinctio quas eligendi vel, cum omnis porro aspernatur, magni enim placeat id iusto, sunt ad unde! Sapiente commodi fugit adipisci.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus distinctio quas eligendi vel, cum omnis porro aspernatur, magni enim placeat id iusto, sunt ad unde! Sapiente commodi fugit adipisci.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus distinctio quas eligendi vel, cum omnis porro aspernatur, magni enim placeat id iusto, sunt ad unde! Sapiente commodi fugit adipisci.</p>
  </div>
  <div class="row mt-2">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/300">
    </div>
    <div class="col-md-8">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus distinctio quas eligendi vel, cum omnis porro aspernatur, magni enim placeat id iusto, sunt ad unde! Sapiente commodi fugit adipisci.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus distinctio quas eligendi vel, cum omnis porro aspernatur, magni enim placeat id iusto, sunt ad unde! Sapiente commodi fugit adipisci.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam temporibus distinctio quas eligendi vel, cum omnis porro aspernatur, magni enim placeat id iusto, sunt ad unde! Sapiente commodi fugit adipisci.</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3">
      <img src="https://via.placeholder.com/200">
    </div>
    <div class="col-md-3">
      <img src="https://via.placeholder.com/200">
    </div>
    <div class="col-md-3">
      <img src="https://via.placeholder.com/200">
    </div>
    <div class="col-md-3">
      <img src="https://via.placeholder.com/200">
    </div>
  </div>
</div>
