<div class="container mt-2">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 mt-4" *ngFor="let user of users">
          <div class="card text-center">
            <h5 class="card-header">{{user.name | uppercase}}</h5>
            <div class="card-body">
              <h6 class="card-title">
                <span class="text-red card-text">{{user.name}}</span>
                <span class="margin">
                  <input class="form-check-input" type="checkbox" (change)="checkboxClicked(user.id)">
                </span>
              </h6>
              <p class="card-text">{{user.email}}</p>
              <p class="card-text">{{user.phone}}</p>
              <!-- <h6 class="card-text">Phone: {{user.phone}}</h6> -->
              <!-- <h6 class="card-text">City: {{user.address.city}}</h6> -->

              <!-- <hr>
              <h5 class="card-title"><span class="badge text-bg-warning">Company Details</span></h5>
              <h6 class="card-text">Name: {{user.company.name}}</h6>
              <h6 class="card-text">Website: {{user.website}}</h6> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4 text-center" *ngIf="isLoading">
      <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="col-md-3 mt-4" *ngIf="userData">
      <div class="card ">
        <h3 class="card-header text-center">User Details</h3>
        <div class="card-body">
          <!-- <h5 class="card-title">
            <span class="badge text-bg-success">Personal Details</span>
          </h5> -->
          <h4 class="text-red card-text text-center"><i class="fa-solid fa-circle-user"></i> {{userData.name}}</h4>
          <small class="card-text"><i class="fa-solid fa-envelope"></i> {{userData.email}}</small><br>
          <small class="card-text"><i class="fa-solid fa-phone"></i> {{userData.phone}}</small><br>
          <small class="card-text"><i class="fa-solid fa-city"></i> {{userData.address.city}}</small><br>

          <!-- <hr> -->
          <!-- <h5 class="card-title"><span class="badge text-bg-warning">Company Details</span></h5> -->
          <small class="card-text"><i class="fa-solid fa-building"></i> {{userData.company.name}}</small><br>
          <small class="card-text"><i class="fa-solid fa-font"></i> {{userData.company.catchPhrase}}</small><br>
          <small class="card-text"><i class="fa-solid fa-globe"></i> <a href=""> {{userData.website}}</a></small>

        </div>
      </div>
    </div>

  </div>
</div>
