<div class="container mt-2">
  <div class="row">
    <div class="col-md-3 mt-4" *ngFor="let product of products">
      <div class="card ">
        <h5 class="card-header text-center">{{product.name | uppercase}}</h5>
        <img src="{{product.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p>{{product.description}}</p>
          <div class="row">
            <div class="col-6"><i class='fas fa-indian-rupee-sign p-1'></i><span class="fw-bold fs-5">{{product.price}}</span></div>
            <div class="col-6"><button class="btn btn-success btn-sm float-right">Add To Cart</button></div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>

